@use './variables' as *;

.text-image-container {
    display: flex;

    .text-container {
        display: flex;
        // flex-direction: column;
        flex-flow: column wrap;
        max-height: 308px;
        justify-content: center;
    }
}

.slogan-bubble {
    flex: 1 0 50%;
    background: $accent-color;
    align-items: center;
    border-color: $accent-color;
    border-radius: 15px;
    height: fit-content;
    margin-left: 60px;

    h2 {
        color: $background-color;
        padding: 15% 8%;
    }
}