@use './variables' as *;

.link-container {
    display: flex;
    background: $accent-color;
    width: fit-content;
    align-items: center;
    border-color: $accent-color;
    border-radius: 20px;
    padding: 6px 15px;
    margin: 20px 0;

    a, button{
        color: $background-color;
        // overridden from fonts-and-colors
        font-size: 0.6rem;
    }

    button {
        /* #region - remove default styles */
        background-color: transparent;
        border-width: 0;
        padding: 0;
        color: $background-color;
        /* #endregion - remove default styles */
    }
}

.shop-now {
    text-transform: uppercase;
}

.load-more {
    margin: 50px auto;
}

/* #region - interactive and default styles */
header,
footer {

    .nav-container {
        transition: height 2s;
    }

    li {
        a:not(.social-link, .image-container):hover,
        a:not(.social-link, .image-container):focus,
        a:not(.social-link, .image-container):focus-within{
            color: $accent-color;
            transform: scale(1.2);
        }

        a {
            .cart-icon:hover,
            .cart-icon:focus {
                opacity: 0.5;
                transform: scale(1.2);
            }
        }
    }
}

.link-container, a, .cart-icon {
    transition: all ease;
}

.link-container:hover,
.link-container:active,
.link-container:focus-within,
.social-link-item:hover,
.social-link-item:focus-within,
.social-link-item:active {
    outline: none;
    // ( h-offset v-offset blur spread color)
    box-shadow: 0 0 2px 1px $input-border;
    transform: scale(1.2);
}

.recent-link-container:hover,
.recent-link-container:active,
.recent-link-container:focus-within,
.hamburger-menu-icon:hover,
.hamburger-menu-icon:focus {
    transform: scale(1.2);
    outline: none;
}

a:hover,
a:focus,
button:active,
button:focus {
    outline: none;
}

.quick-links {
    a:hover, a:focus, a:focus-within {
        transform-origin: left;
    }
}

/* #region - forms */
label {
    display: none;
}

input,
textarea,
select {
    border: 2px solid $input-border;
    border-radius: 5px;
    width: auto;
    margin: 6px;
    padding: 2px;
}

input:focus,
textarea:focus {
    border: none;
    outline: 2px solid $accent-color;
}

/* #endregion - forms */
/* #endregion - interactive and default styles */
