@use './variables' as *;

/* #region - cart items in nav */
nav ul .cart-info-heading{
    display: flex;
    column-gap: 5px;

    .cart-link {
        display: flex;
    }

    .cart-icon {
        width: 1rem;
        align-self: center;
    }

    .item-num {
        display: flex;
        background: $accent-color;
        border-radius: 5px;
        width: fit-content;
        height: 1rem;
        padding: 5px;
        align-items: center;

        p {
            font-size: 0.7rem;
            color: $background-color;
        }
    }

    .cart-basic-info {
        display: contents;

        p {
            font-weight: $barlow-semi-bold;
            color: $main-text-color;
        }
    }
}
/* #endregion - cart items in nav */

/* #region - cart drop-down */
.cart-dropdown {
    position: absolute;
    top: $heading-nav-height;
    right: 20px;
    background: $background-color;
    width: 35vw;
    height: fit-content;
    padding: 0;
    z-index: 9; // one less than heading

    .empty-cart-message {
        display: flex;
        justify-content: center;
        padding: 7%;
    }

    .total-checkout {
        display: flex;
        background: $accent-color;
        height: fit-content;
        width: 35vw;
        padding: 2px 10px;
        justify-content: space-between;

        .subtotal {
            display: flex;
            column-gap: 5px;
            align-items: center;
        }

        p {
            color: $background-color;
        }

        .link-container {
            background: $background-color;
            
            button {
                color: $main-text-color;
            }
        }
    }
}

/* #endregion - cart drop-down */


