@use './variables' as *;

footer {
    background: url("../organic-project/assets/cow.png") no-repeat;
    background-position-y: bottom;
    background-position-x: center;
}

.quick-links-container {
    display: flex;
    flex-wrap: wrap;
}

.footer-sections {
    display: flex;
    flex-direction: column;
    flex: 1 1 20%;
    min-width: 115px;
    margin: 20px;
}

.recent-products {

    .recent-link-container {
        .image-container {
            min-width: 50%;
            img{
                flex: 1 0 auto;
            }
        }
    }

    h5, p {
        font-size: 0.6rem;
        font-weight: $lora-bold;
        line-height: 0.8rem;
        margin: 2px;
    }
}

.social {

    .logo-container {
        width: 50%;
    }
    
    ul{ 
        display: flex;
        justify-content: space-between;

        li {
            display: inline-flex;
            background: $accent-color;
            /* #region - round div */
            border-radius: 50%;
            height: 30px;
            width: 30px;
            /* #endregion - round div */
            justify-content: center;
            align-items: center;

            .fb {
                display: flex;
                width: 12px;
            }

            a {
                display: flex;
                width: 18px;
                justify-content: center;
            }
        }
    } 
}

.quick-links {
    ul {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        flex-grow: 1;
    }
}
/* #region - recent products */
.recent-products {
    ul {
        display: flex;
        flex-direction: column;

        li {
            display: flex;

            .image-container {
                display: inline-flex;
                flex: 0 1 30%;
                min-width: 30%;
                margin: 5px;
            }

            .info-container {
                display: flex;
                flex-direction: column;
                padding: 0 2px;
            }
        }
    }
}
/* #endregion - recent products */

.copyright {
    display: flex;
    justify-content: center;
    text-align: center;
    color: $background-color;
}