@use './variables' as *;

.nav-container {
    background: $background-color;
    box-shadow: 0px 2px 10px $box-shadow;
    min-height: $heading-nav-height;
    padding: 0; // overriding on from section styles
    /* #region - absolute */
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 10;
    /* #endregion - absolute */
}

nav {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;

    ul{
        display: flex;
        align-items: center;

        li {
            padding: 0 20px;

            .cart-icon {
                width: 1rem;
            }
        }
    }
}

.logo-container { // both header and footer
    display: flex;
    width: 70px;
    position: inherit; // inherits justify content from nav parent
}

/* #region - hamburger menu */
.hamburger-menu {
    display: none;

    .hamburgers {
        width: 30px;
        height: 4px;
        background-image: linear-gradient($accent-color, $light-accent-color, $accent-color);
        // background-color: $accent-color;
        border-radius: 100px;
        margin: 5px 0;
    }
}
/* #endregion - hamburger menu */

.main-header-container {
    display: flex;
    margin-top: $heading-nav-height;
    height: calc(100vh - $heading-nav-height);
    /* #region - background */
    background: url("../organic-project/assets/header/background.png") no-repeat;
    background-size: cover;
    background-position: center;
    /* #endregion - background */
    align-items: center;

    /* #region - splash images */
    .head-splashes.b-1 {
        display: none;
        position: absolute;
        background: url("../organic-project/assets/header/b-1.png") no-repeat;
        background-size: contain;
        height: 30%;
        width: 30%;
        top: 2%;
        left: -1%;
    }

    .head-splashes.b-2 {
        display: none;
        position: absolute;
        background: url("../organic-project/assets/header/b-2.png") no-repeat;
        background-size: contain;
        height: 30%;
        width: 30%;
        right: 0;
        bottom: 15%;
    }

    /* #endregion - splash images */
}

.heading-image-container {
    position: relative;
    width: 100%;
    float: left;
    height: 50vh;

    .image-container {
        position: relative;
        width: 60%;
        float: right;
    }

    .link-container {
        position: absolute;
        bottom: 0;
    }
}


