@use './variables' as *;

@media (max-width: 1290px) {
    .contact-info-container {
        flex-direction: column;
        height: calc(( $contact-sections-max-height * 2 ) + 60px);
    }
}
 
@media (max-width: 1080px) {
    .main-header-container {
        
        .head-splashes.b-1 {
            display: block;
        }
    }
}

@media (max-width: 950px){
    .text-image-container{
        .paragraphs {
            margin-top: calc(30px - 4vw);
        }
    }
}

@media (max-width: 850px) {
    .text-image-container{
        
            .headings {
                flex: 0 1 50%;
            }
        
            .paragraphs {
                max-width: 100%;
                align-self: center;
        }
    }
}

@media (max-width: 730px) {
    /* #region - header nav */
    .nav-container {
        nav {
            justify-content: space-between;
            padding: 10px;

            ul {
                display: none;
            }
            
            .hamburger-menu {
                display: block;
            }
        }
        
    }
    /* #endregion - header nav */

    /* #region - about section */
    .text-image-container {
    
            .slogan-bubble-large {
                display: none;
            }
    
            .slogan-bubble-small {
                display: flex;
                margin-left: 0.5vw;
            }
        }
    /* #endregion - about section */ 
}

@media (max-width: 650px) {
    .contact-info-container .message-form span {

        display: grid;
    }
}