@use './variables' as *;
 
@media (max-width: 1080px) {
    .main-header-container {
        
        .head-splashes.b-1 {
            display: block;
        }
    }
}

@media (max-width: 950px){
    .text-image-container{
        .paragraphs {
            margin-top: calc(30px - 4vw);
        }
    }
}

@media (max-width: 850px) {

    /* #region - about section */
    .text-image-container {
    
        .headings {
            flex: 0 1 50%;
        }

        .paragraphs {
            max-width: 100%;
            align-self: center;
        }
    }
    /* #endregion - about section */ 
}

@media (max-width: 730px) {
    /* #region - header nav */

    .nav-container {
            // all nav links except cart icon
            ul {
                display: flex;
                justify-content: space-between;
                margin-top: 18px;
                column-gap: 5%;
        
                li {
                    padding: 0;
                }
            }
            .cart-info-heading {
                display: flex !important;
                position: absolute;
                top: 3vh;
                right: 3vw;

                .total-cost {
                    display: none;
                }
            }
        // none on nav and auto on child elements
        // will allow nav to be manipulated when interacting with children
        // https: //stackoverflow.com/questions/8114657/how-to-style-the-parent-element-when-hovering-a-child-element#:~:text=8-,Answers,-Sorted%20by%3A 
        
        // pointer-events: none;
        
        nav {
            flex-direction: column;
            justify-content: space-between;

            ul {
                display: none;
                justify-content: space-between;
                // pointer-events: auto;
            }
            
            .hamburger-menu-icon {
                display: block;
                align-self: center;
                // pointer-events: auto;
            }
        }
    }
    /* #region - for css hamburger */
    // .nav-container:active,
    // .nav-container:focus-within {
    //     height: $heading-nav-height*2;
    //     background: linear-gradient($background-color, rgba(255, 255, 255, 0.7));

    //     ul {
    //         display: flex;
    //     }
    // }
    /* #endregion - for css hamburger */
    
    /* #endregion - header nav */

    /* #region - about section */
    .text-image-container {
    
        .slogan-bubble-large {
            display: none;
        }

        .slogan-bubble-small {
            display: flex;
            margin-left: 0.5vw;
        }
    }
    /* #endregion - about section */ 
}

@media (max-width: 660px) {
    .cart-dropdown {
        // centers horizontally
        left: 50%;
        transform: translate(-50%, 0);
    }

    .contact-info-container {

        .contact-info, .message-form {
            min-width: 170px;
        }

        .message-form{
            span {
                display: block;

                input {
                    width: -webkit-fill-available;
                    width: -moz-available;
                }
            }
        }
    } 
}

/* #region - horizontal mobile */
@media(max-width: 730px) and (min-height: 650px) {

    /* #region - main heading */
    .main-header-container {

        .head-splashes.b-2 {
            display: block;
        }
    }

    .heading-image-container {
        display: flex;
        flex-direction: column;
        height: 75vh;

        .image-container,
        h1,
        p {
            display: flex;
        }

        .image-container {
            // second
            order: 0;
            width: 100%;
        }

        .link-container {
            // fourth
            order: 2;
            position: relative;
        }

        h1 {
            // first
            order: -1;
        }

        p {
            // third
            order: 1;
        }
    }
    /* #endregion - main heading */
}

@media (max-width: 700px) {
    /* #region - pop-up */
    body .points-popup {
        align-items: center;
        height: 70vh;

        .text-and-card {
            display: flex;
            flex-direction: column;

            .points-text-container {
                display: flex;
                justify-content: center;
                flex-direction: row;
                flex-wrap: wrap;
            }

            .reward-card-container {
                justify-content: center;
                margin-top: 10%;
            }
        }
    }
    /* #endregion - pop-up */
}

@media(max-height: 500px) {
    .heading-image-container .image-container {
        width: 33%;
    }
}
/* #endregion - horizontal mobile */
