@use './variables' as *;
 
@media (max-width: 1080px) {
    .main-header-container {
        
        .head-splashes.b-1 {
            display: block;
        }
    }
}

@media (max-width: 950px){
    .text-image-container{
        .paragraphs {
            margin-top: calc(30px - 4vw);
        }
    }
}

@media (max-width: 850px) {

    /* #region - about section */
    .text-image-container {
    
        .headings {
            flex: 0 1 50%;
        }

        .paragraphs {
            max-width: 100%;
            align-self: center;
        }
    }
    /* #endregion - about section */ 
}

@media (max-width: 730px) {
    /* #region - header nav */
    .nav-container {
        nav {
            justify-content: space-between;
            padding: 10px;

            ul {
                display: none;
            }
            
            .hamburger-menu {
                display: block;
            }
        }
    }
    /* #endregion - header nav */

    /* #region - main heading */
    .heading-image-container {
        display: flex;
        flex-direction: column;
        height: 75vh;

        .image-container, h1, p {
            display: flex;
        }

        .image-container {
            // second
            order: 0;
            width: 100%;
        }

        .link-container {
            // fourth
            order: 2;
            position: relative;
        }

        h1 {
            // first
            order: -1;
        }

        p{
            // third
            order: 1;
        }
    }
    /* #endregion - main heading */

    /* #region - about section */
    .text-image-container {
    
            .slogan-bubble-large {
                display: none;
            }
    
            .slogan-bubble-small {
                display: flex;
                margin-left: 0.5vw;
            }
        }
    /* #endregion - about section */ 
}

@media (max-width: 660px) {

    .contact-info-container {

        .contact-info, .message-form {
            min-width: 170px;
        }

        .message-form{
            span {
                display: block;

                input {
                    width: -webkit-fill-available;
                    width: -moz-available;
                }
            }
        }
    } 
}
