@use './variables' as *;

.section-heading-text{
    text-align: center;
}

.product-gallery-container {
    ul {
        flex-direction: row;
        display: flex;
        flex-wrap: wrap;
    }

    li {
        flex-direction: column;
        flex: 1 0 20%;
        border: 1px solid rgb(246, 246, 246);
        min-width: 140px;
        margin: 10px;

        .text-container {
            padding: 8px 8px 0 8px;
        }
    }
}

.old-price {
    color: $accent-color;
    text-decoration: line-through;
}