@use './variables' as *;

.section-heading-text{
    text-align: center;
}

.product-gallery-container {
    ul {
        flex-direction: row;
        display: flex;
        flex-wrap: wrap;
    }

    li {
        position: relative;
        flex-direction: column;
        flex: 1 0 20%;
        border: 1px solid rgb(246, 246, 246);
        min-width: 135px;
        margin: 20px 10px;

        .text-container {

            .info-container {
                padding: 8px 10px 25px 10px;
            }

            .link-container.product-link {// overrides .link-container
                position: absolute;
                bottom: -32px;
                left: 10px;
            }
        }
    }
}

.price {
        color: $accent-color;
}

.old-price {
    text-decoration: line-through;
}