/* #region - colors */
$background-color: #fff;
$main-text-color: #1a2428;
$accent-color: #207200;
$box-shadow: #adadad;
$input-border:#dbdbdb;
/* #endregion - colors */

/* #region - fonts */
$barlow: 'Barlow', sans-serif;
$lora: 'Lora', serif;

/* #endregion - fonts */

/* #region - font-weights */
$lora-bold: 700;
$lora-semi-bold: 600;
$lora-medium: 500;
$barlow-semi-bold: 600;
$barlow-regular: 400;
/* #endregion - font-weights */