/* #region - colors */
$background-color: #fff;
$main-text-color: #1a2428;
$accent-color: #207200;
$light-accent-color: rgba(32, 114, 1, 0.6);
$box-shadow: #adadad;
$input-border:#dbdbdb;
/* #endregion - colors */

/* #region - fonts */
$barlow: 'Barlow', sans-serif;
$lora: 'Lora', serif;
/* #endregion - fonts */

/* #region - font-weights */
$lora-bold: 700;
$lora-semi-bold: 600;
$lora-medium: 500;
$barlow-semi-bold: 600;
$barlow-regular: 400;
/* #endregion - font-weights */

/* #region - font-sizes and lin-heights */
$slogan-font-size: 1.8vw;
$slogan-line-height: 2.5vw;
/* #endregion - font-sizes */

/* #region - max height & widths */
$heading-nav-height: 57px;
$contact-sections-max-height: 285px;
$contact-info-min-width: 220px;
$message-form-min-width: 315px;
/* #endregion - max height & widths */

