@use './variables' as *;
@use './setup';
@use './fonts-and-colors';
@use './buttons';
@use './header';
@use './cart';
@use './about';
@use './products';
@use './gallery';
@use './blog';
@use './footer';
@use './contact';
@use './media-queries';
@use './js-elements';

/* #region - reset default styles */
html {
    font-size: 125%;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: var(--white);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 6px 0;
}

img {
    max-width: 100%;
    width: 100%;
    height: auto;
    align-self: center;
}
/* #endregion - reset default styles */

section{ // (overridden on nav-container)
    padding: 4% 0 4% 0;
}
.wrapper {
    max-width: 1080px;
    width: 50%;
    margin: 0 auto;
}

/* #region - to disable scroll */
.stop-scrolling {
    height: 100%;
    overflow: hidden;
}
/* #endregion - to disable scroll */

.make-invisible {
    display: none !important;
}

.make-flex {
    display: flex !important;
}

.make-block {
    display: block !important;
}