/* #region - colors */
/* #endregion - colors */
/* #region - fonts */
/* #endregion - fonts */
/* #region - font-weights */
/* #endregion - font-weights */
/* #region - font-sizes and lin-heights */
/* #endregion - font-sizes */
/* #region - max height & widths */
/* #endregion - max height & widths */
/* #region - setup */
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

/* #endregion - setup */
/* #region - stops horizontal scroll bounce */
html,
body {
  display: grid;
  overflow-x: hidden;
}

/* #endregion - stops horizontal scroll bounce */
header .head-splashes,
header .logo-container,
footer .head-splashes,
footer .logo-container {
  -webkit-filter: brightness(16%) saturate(27) hue-rotate(-12deg);
          filter: brightness(16%) saturate(27) hue-rotate(-12deg);
}

body {
  line-height: 1rem;
}

/* #region - font families */
h1,
h2,
h3,
h4,
h5 {
  font-family: "Lora", serif;
}

body,
p,
a,
button {
  font-family: "Barlow", sans-serif;
}

/* #endregion - font families */
/* #region - font weights */
h1, h2, h3, h4 {
  font-weight: 700;
}

h5,
a,
button {
  font-weight: 600;
}

.quick-links a {
  font-weight: 500;
}

/* #endregion - font weights */
/* #region - font-sizes */
h1 {
  font-size: 1.4rem;
  line-height: 1.8rem;
}

h2 {
  font-size: 1rem;
  line-height: 1.5rem;
}

h3 {
  font-size: 1.2rem;
  line-height: 1.5rem;
}

p, h4, h5, input, textarea {
  font-size: 0.8rem;
  line-height: 1rem;
}

a {
  font-size: 0.8rem;
  line-height: 1rem;
}

/* #endregion - font-sizes */
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  font-family: "Lora", serif;
  font-weight: 500;
  font-size: 0.6rem;
  color: grey;
}
input::-moz-placeholder, textarea::-moz-placeholder {
  font-family: "Lora", serif;
  font-weight: 500;
  font-size: 0.6rem;
  color: grey;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  font-family: "Lora", serif;
  font-weight: 500;
  font-size: 0.6rem;
  color: grey;
}
input::-ms-input-placeholder, textarea::-ms-input-placeholder {
  font-family: "Lora", serif;
  font-weight: 500;
  font-size: 0.6rem;
  color: grey;
}
input,
textarea,
input::placeholder,
textarea::placeholder {
  font-family: "Lora", serif;
  font-weight: 500;
  font-size: 0.6rem;
  color: grey;
}

.link-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #207200;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-color: #207200;
  border-radius: 20px;
  padding: 6px 15px;
  margin: 20px 0;
}
.link-container a, .link-container button {
  color: #fff;
  font-size: 0.6rem;
}
.link-container button {
  /* #region - remove default styles */
  background-color: transparent;
  border-width: 0;
  padding: 0;
  /* #endregion - remove default styles */
}

.shop-now {
  text-transform: uppercase;
}

.load-more {
  margin: 50px auto;
}

/* #region - interactive and default styles */
header .nav-container,
footer .nav-container {
  -webkit-transition: height 2s;
  transition: height 2s;
}
header li a:not(.social-link, .image-container):hover,
header li a:not(.social-link, .image-container):focus,
header li a:not(.social-link, .image-container):focus-within,
footer li a:not(.social-link, .image-container):hover,
footer li a:not(.social-link, .image-container):focus,
footer li a:not(.social-link, .image-container):focus-within {
  display: block;
  color: #207200;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
header li a .cart-icon:hover,
header li a .cart-icon:focus,
footer li a .cart-icon:hover,
footer li a .cart-icon:focus {
  opacity: 0.5;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.link-container, a, .cart-icon {
  -webkit-transition: all ease;
  transition: all ease;
}

.link-container:hover,
.link-container:active,
.link-container:focus-within,
.social-link-item:hover,
.social-link-item:focus-within,
.social-link-item:active {
  outline: none;
  -webkit-box-shadow: 0 0 2px 1px #dbdbdb;
          box-shadow: 0 0 2px 1px #dbdbdb;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.recent-link-container:hover,
.recent-link-container:active,
.recent-link-container:focus-within,
.hamburger-menu-icon:hover,
.hamburger-menu-icon:focus {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  outline: none;
}

a:hover,
a:focus,
button:active,
button:focus {
  outline: none;
}

.quick-links a:hover, .quick-links a:focus, .quick-links a:focus-within {
  -webkit-transform-origin: left;
          transform-origin: left;
}

/* #region - forms */
label {
  display: none;
}

input,
textarea {
  border: 2px solid #dbdbdb;
  border-radius: 5px;
  width: auto;
  margin: 6px;
  padding: 2px;
}

input:focus,
textarea:focus {
  border: none;
  outline: 2px solid #207200;
}

/* #endregion - forms */
/* #endregion - interactive and default styles */
.nav-container {
  background: #fff;
  -webkit-box-shadow: 0px 2px 10px #adadad;
          box-shadow: 0px 2px 10px #adadad;
  min-height: 57px;
  padding: 0;
  /* #region - absolute */
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 10;
  /* #endregion - absolute */
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 10px 0;
}
nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
nav ul li {
  padding: 0 20px;
}
nav ul li .cart-icon {
  width: 1rem;
}

.logo-hamburger-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /* #region - hamburger menu */
}
.logo-hamburger-container .logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70px;
  position: inherit;
}
.logo-hamburger-container .hamburger-menu-icon {
  display: none;
}

.lines {
  width: 30px;
  height: 4px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#207200), color-stop(rgba(32, 114, 1, 0.6)), to(#207200));
  background-image: linear-gradient(#207200, rgba(32, 114, 1, 0.6), #207200);
  border-radius: 100px;
  margin: 5px 0;
}

/* #endregion - hamburger menu */
.main-header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 57px;
  height: calc(100vh - 57px);
  /* #region - background */
  background: url("../organic-project/assets/header/background.png") no-repeat;
  background-size: cover;
  background-position: center;
  /* #endregion - background */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* #region - splash images */
  /* #endregion - splash images */
}
.main-header-container .head-splashes.b-1 {
  display: none;
  position: absolute;
  background: url("../organic-project/assets/header/b-1.png") no-repeat;
  background-size: contain;
  height: 30%;
  width: 30%;
  top: 2%;
  left: -1%;
}
.main-header-container .head-splashes.b-2 {
  display: none;
  position: absolute;
  background: url("../organic-project/assets/header/b-2.png") no-repeat;
  background-size: contain;
  height: 30%;
  width: 30%;
  right: 0;
  bottom: 15%;
}

.heading-image-container {
  position: relative;
  width: 100%;
  float: left;
  height: 50vh;
}
.heading-image-container .image-container {
  position: relative;
  width: 60%;
  float: right;
}
.heading-image-container .link-container {
  position: relative;
  bottom: 0;
}

.text-image-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.text-image-container .text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  min-width: 181px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.text-image-container .slogan-bubble-large {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
}
.text-image-container .slogan-bubble-large h2 {
  font-size: 1.8vw;
  line-height: 2.5vw;
}
.text-image-container .heading-slogan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.text-image-container .heading-slogan .headings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.text-image-container .paragraphs {
  min-width: 225px;
  max-width: 45%;
  margin-top: -4vw;
}

.slogan-bubble-large, .slogan-bubble-small {
  position: relative;
  background: #207200;
  border-color: #207200;
  border-radius: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-left: 1vw;
}

.slogan-bubble-small {
  display: none;
  width: 4.3vw;
  height: 4.3vw;
  min-width: 85px;
  min-height: 85px;
  width: 18vw;
  height: 18vw;
  border-radius: 50%;
  padding: 4.3vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
}
.slogan-bubble-small h2 {
  font-size: 1.2rem;
  line-height: 1.4rem;
}

.slogan-bubble-large h2, .slogan-bubble-small h2 {
  color: #fff;
  padding: 10%;
}

.section-heading-text {
  text-align: center;
}

.product-gallery-container ul {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.product-gallery-container li {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 20%;
          flex: 1 0 20%;
  border: 1px solid rgb(246, 246, 246);
  min-width: 135px;
  margin: 20px 10px;
}
.product-gallery-container li .text-container .info-container {
  padding: 8px 8px 25px 8px;
}
.product-gallery-container li .text-container .link-container.product-link {
  position: absolute;
  margin: -13px 0;
}

.price {
  color: #207200;
}

.old-price {
  text-decoration: line-through;
}

.gallery {
  background: url("../organic-project/assets/grass.jpg") no-repeat;
  background-size: contain;
  background-position-y: bottom;
}

.gallery-link-list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.gallery-link-list ul li {
  margin: 10px;
}

.gallery-images ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.gallery-images ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 25%;
          flex: 1 0 25%;
  min-width: 150px;
  margin: 3px;
}

.blog {
  background: #207200;
}
.blog .section-heading-text {
  color: #fff;
}
.blog ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.blog ul li {
  background: #fff;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 20%;
          flex: 1 0 20%;
  border: 1px solid rgb(246, 246, 246);
  min-width: 160px;
  margin: 10px;
  padding: 10px 10px 0 10px;
}

footer {
  background: url("../organic-project/assets/cow.png") no-repeat;
  background-position-y: bottom;
  background-position-x: center;
}

.quick-links-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer-sections {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20%;
          flex: 1 1 20%;
  min-width: 115px;
  margin: 20px;
}

.recent-products .recent-link-container .image-container {
  min-width: 50%;
}
.recent-products .recent-link-container .image-container img {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}
.recent-products h5, .recent-products p {
  font-size: 0.6rem;
  font-weight: 700;
  line-height: 0.8rem;
  margin: 2px;
}

.social .logo-container {
  width: 50%;
}
.social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.social ul li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background: #207200;
  /* #region - round div */
  border-radius: 50%;
  height: 30px;
  width: 30px;
  /* #endregion - round div */
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.social ul li .fb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 15px;
}
.social ul li object {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 18px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.quick-links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

/* #region - recent products */
.recent-products ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.recent-products ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.recent-products ul li .image-container {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 30%;
          flex: 0 1 30%;
  min-width: 30%;
  margin: 5px;
}
.recent-products ul li .info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 2px;
}

/* #endregion - recent products */
.copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  color: #fff;
}

.contact-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* #region - background image */
  background: url("../organic-project/assets/contact.jpg") no-repeat;
  /* #region - overlay on heading image */
  -webkit-box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.4);
          box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.4);
  /* #endregion - overlay on heading image */
  background-size: cover;
  background-position: bottom;
  margin-top: 57px;
  height: 100%;
  /* #endregion - background image */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.contact-header h1 {
  color: #fff;
}

.contact-info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  padding: 10% 0;
}
.contact-info-container .contact-info, .contact-info-container .message-form {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%;
  max-height: auto;
  margin-top: 30px;
}
.contact-info-container .contact-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-content: space-between;
  min-height: 250px;
  min-width: 200px;
}
.contact-info-container .contact-info li {
  border-left: 5px solid #207200;
  -webkit-box-shadow: 0px 0 6px #dbdbdb;
          box-shadow: 0px 0 6px #dbdbdb;
  padding: 2% 2% 2% 10%;
}
.contact-info-container .message-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0px 0 6px #dbdbdb;
          box-shadow: 0px 0 6px #dbdbdb;
  min-width: 315px;
  padding: 3%;
}
.contact-info-container .message-form span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.contact-info-container .message-form span input {
  width: 100%;
}
.contact-info-container .message-form .link-container {
  margin: 15px auto;
}

@media (max-width: 1080px) {
  .main-header-container .head-splashes.b-1 {
    display: block;
  }
}
@media (max-width: 950px) {
  .text-image-container .paragraphs {
    margin-top: calc(30px - 4vw);
  }
}
@media (max-width: 850px) {
  /* #region - about section */
  .text-image-container .headings {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
  .text-image-container .paragraphs {
    max-width: 100%;
    -ms-flex-item-align: center;
        align-self: center;
  }
  /* #endregion - about section */
}
@media (max-width: 730px) {
  /* #region - header nav */
  .nav-container ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 18px;
    -webkit-column-gap: 5%;
       -moz-column-gap: 5%;
            column-gap: 5%;
  }
  .nav-container ul li {
    padding: 0;
  }
  .nav-container nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .nav-container nav ul {
    display: none;
  }
  .nav-container nav .hamburger-menu-icon {
    display: block;
    -ms-flex-item-align: center;
        align-self: center;
  }
  /* #region - for css hamburger */
  /* #endregion - for css hamburger */
  /* #endregion - header nav */
  /* #region - about section */
  .text-image-container .slogan-bubble-large {
    display: none;
  }
  .text-image-container .slogan-bubble-small {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 0.5vw;
  }
  /* #endregion - about section */
}
@media (max-width: 660px) {
  .contact-info-container .contact-info, .contact-info-container .message-form {
    min-width: 170px;
  }
  .contact-info-container .message-form span {
    display: block;
  }
  .contact-info-container .message-form span input {
    width: -webkit-fill-available;
    width: -moz-available;
  }
}
/* #region - horizontal mobile */
@media (max-width: 730px) and (min-height: 650px) {
  /* #region - main heading */
  .main-header-container .head-splashes.b-2 {
    display: block;
  }
  .heading-image-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 75vh;
  }
  .heading-image-container .image-container,
  .heading-image-container h1,
  .heading-image-container p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .heading-image-container .image-container {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    width: 100%;
  }
  .heading-image-container .link-container {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    position: relative;
  }
  .heading-image-container h1 {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .heading-image-container p {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  /* #endregion - main heading */
}
@media (max-height: 500px) {
  .heading-image-container .image-container {
    width: 33%;
  }
}
/* #endregion - horizontal mobile */
/* #region - points modal */
.points-popup {
  display: none;
  position: absolute;
  background: rgb(240, 255, 240);
  border: 10px solid #207200;
  border-radius: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 10% 5% 5% 5%;
  height: 75vh;
  width: 50%;
  min-width: 200px;
  z-index: 10;
}
.points-popup .points-popup-text {
  color: green;
  font-size: 1.5rem;
}
.points-popup h3 {
  font-family: barlow;
}
.points-popup .x-div-container {
  position: absolute;
  top: 15px;
  right: 15px;
}

.lines.a {
  position: absolute;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.lines.b {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* #endregion - points modal */
/* #region - reward card */
.reward-card-container {
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  aspect-ratio: 3/2;
}
.reward-card-container .reward-card {
  display: grid;
  grid-template-areas: "top-line top-line" "mid-line mid-line" "rectangle short-top" "rectangle short-bottom";
  border: solid 5px black;
  border-radius: 20px;
  width: 170px;
  height: 110px;
}
.reward-card-container .reward-card .long-lines,
.reward-card-container .reward-card .short-lines {
  background: black;
  height: 5px;
}
.reward-card-container .reward-card .long-lines {
  width: 100%;
}
.reward-card-container .reward-card .long-lines.top {
  grid-area: top-line;
  align-self: center;
}
.reward-card-container .reward-card .long-lines.mid {
  grid-area: mid-line;
  align-self: center;
}
.reward-card-container .reward-card .short-lines.top {
  grid-area: short-top;
  width: 85%;
  align-self: center;
}
.reward-card-container .reward-card .short-lines.bottom {
  grid-area: short-bottom;
  width: 65%;
  align-self: self-start;
}
.reward-card-container .reward-card .rectangle {
  grid-area: rectangle;
  border: solid 5px black;
  border-radius: 10px;
  align-self: baseline;
  height: 50%;
  width: 80%;
  margin: 7px;
}

/* #endregion - reward card */
.increase-height {
  height: 114px;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(rgba(255, 255, 255, 0.7)));
  background: linear-gradient(#fff, rgba(255, 255, 255, 0.7));
}

/* #region - reset default styles */
html {
  font-size: 125%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--white);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 6px 0;
}

img {
  max-width: 100%;
  width: 100%;
  height: auto;
  -ms-flex-item-align: center;
      align-self: center;
}

/* #endregion - reset default styles */
section {
  padding: 4% 0 4% 0;
}

.wrapper {
  max-width: 1080px;
  width: 50%;
  margin: 0 auto;
}

/* #region - to disable scroll */
.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

/* #endregion - to disable scroll */
.make-invisible {
  display: none !important;
}

.make-visible {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}